<tr>
  <td><%= customer.name %></td>
  <td><%= customer.address %></td>
  <td><%= customer.city %></td>
  <td><%= customer.postal_code %></td>
  <td><%= customer.country %></td>
  <td><%= customer.province %></td>
  <td><%= customer.phone %></td>
  <td><%= link_to 'Orders', order_path(customer.id) %></td>
</tr>
